body{
    margin: 0;
    width: 100%;
    background-color: rgb(218, 218, 218);
}
#nav-bar{
    background-color: rgb(1, 36, 66);
    padding: 25px;
    margin-bottom: 30px;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#display-flex{
    display: flex;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
#main-content{
    padding: 10px 20px;
    width: 50%;
}
.game{
    display: flex;
    background-color: white;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.img{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
    width: 125px;
}
.game-details{
    padding-left:15px;
    font-family: Arial, Helvetica, sans-serif;
}
.game-title{
    margin-bottom: 5px;
    font-weight: bold;
}
.game-description{
    margin-top: 5px;
    margin-bottom: 2px;
    color: rgb(161, 161, 161);
}
.game-year{
    margin-top: 2px;
    color: rgb(3, 134, 185);
    font-weight: bold;
}

